* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 1rem 'Montserrat', sans-serif;
  letter-spacing: 1px;
  background: #fff;
  overflow-x: hidden;
  color: #292b2c;
}

h1, h2, h3, h4, h5, p {
  cursor: default;
}

h1.stylise {
  font: 3.5rem 'Kaushan Script', cursive;
}

/* Clearfix */
.clearfix::after, .clearfix::before {
  content: '';
  display: block;
}

.clearfix::after {
  clear: both;
}

header {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 20px;
  z-index: 2;
  box-sizing: border-box;
  line-height: 60px;
}

/*
header::after{
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background: red;
} */
.letter {
  margin: 0 10px;
}

/* Setting background to letter m */
.letter-m {
  background-color: lightsalmon;
}

/* Head Nav bar */
.brand {
  font-size: 2rem;
  font-weight: bolder;
  color: #292b2c;
  position: relative;
  left: 90px;
  border-left: 5px solid royalblue;
}

.brand::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 30px;
  width: calc(100% - 30px);
  height: 4px;
  background-color: royalblue;
  animation-name: changeColor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes changeColor {
  0% {
    background-color: royalblue;
  }

  50% {
    background-color: #F3CBC3
  }

  100% {
    background-color: #292b2c;
  }
}

.brand::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: -5px;
  width: 100%;
  height: 5px;
  background-color: royalblue;
}

.left {
  float: left;
}

.right {
  float: right;
}

nav.right>ul {
  list-style: none;
  margin: 5px 90px 0 0;
  padding: 0;
}

nav.right>ul li {
  display: inline-block;
  margin-left: 20px;
  padding: 0px 10px;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}

.head-nav-icons {
  width: 25px;
  height: 25px;
  color: #292b2c;
  transition: .4s;
}

.head-nav-icons:hover {
  color: red;
}

/* Menu */
.menu-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(246, 208, 217);
  z-index: 1000;
  display: none;
}

article.promo {
  width: 100%;
  height: 100vh;
  background: url('../img/balloon-girl.jpg') center/cover no-repeat;
  position: relative;
}

.section-brief {
  position: relative;
  left: 10em;
  top: 200px;
  font-size: 1rem;
  width: 500px;
  cursor: default;
  box-sizing: border-box;
  /* mix-blend-mode: difference; */
  text-align: center;
  z-index: 2;
}

.section-brief p {
  font-size: 0.8rem;
  font-weight: bolder;
  letter-spacing: 0.6em;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-indent: 1.1rem;
}

.section-brief>h1 {
  font: bold 5rem 'Kaushan Script', cursive;
  color: #fff;
  z-index: 1;
  visibility: hidden;
  text-shadow: 3px 3px 0 #9B487C, 4px 4px 0 #9B487C, 5px 5px 0 #9B487C;
}

.section-brief button {
  margin-top: 4rem;
}

#close-btn {
  position: absolute;
  right: 40px;
  top: 20px;
  cursor: pointer;
}

/* Second container */
.ladies-container {
  width: 80%;
  margin: 100px auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shop-box {
  flex: 0 0 350px;
  min-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.for-her-margin {
  margin-right: 70px;
}

.for-him-margin {
  margin-left: 70px;
}

.fashion-shop-card {
  margin-top: 3.5rem;
  position: relative;
  height: 420px;
  width: 100%;
  background: center/100% 100% no-repeat;
  transition: .3s;
  overflow: hidden;
}

.fashion-shop-card::before {
  content: '';
  position: absolute;
  top: -130px;
  left: -300px;
  width: 170%;
  height: 20%;
  background: rgba(255, 255, 255, 0.4);
  transform: rotate(-35deg);
  transition: .4s;
}

.fashion-shop-card:hover::before {
  top: 480px;
  left: 0px;
}

.fashion-shop-card:hover {
  background-size: 110% 110%;
}

.for-her {
  background-image: url('../img/banner-01.jpg');
}

.for-him {
  background-image: url('../img/banner-02.jpg');
}

.card-btn {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem
}

.ladies-fashion-nav {
  width: 500px;
  margin-bottom: 40px;
}

.ladies-fashion-nav ul {
  width: 100%;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
}

.ladies-fashion-nav ul li {
  position: relative;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.5);
  transition: all ease 0.4s;
  cursor: pointer;
}

.ladies-fashion-nav ul li::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: all ease 0.4s;
}

.ladies-fashion-nav ul li:hover {
  color: rgba(0, 0, 0, 1);
}

.ladies-fashion-nav ul li:hover::before {
  transform: scaleX(1);
}

/* For active nav-link */
.ladies-fashion-nav ul li:first-child {
  color: rgba(0, 0, 0, 1);
}

.ladies-fashion-nav ul li:first-child::before {
  transform: scaleX(1);
}

.ladies-other-grid {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 720px;
}

.ladies-other-grid>div {
  width: 220px;
  height: 320px;
  margin: 10px 0;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  font-size: 0.8rem;
  line-height: 1.4rem;
  transition: all ease-out 0.4s;
}

/* CARDs WOMEN */
.card-img {
  width: 220px;
  height: 260px;
  background: center/cover;
  transition: 0.6s;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.product-1 {
  background-image: url('../img/product-1a.jpg');
}

.ladies-card:hover .product-1 {
  background-image: url('../img/product-1b.jpg');
}

.product-2 {
  background-image: url('../img/product-2a.jpg');
}

.ladies-card:hover .product-2 {
  background-image: url('../img/product-2b.jpg');
}

.product-3 {
  background-image: url('../img/product-3a.jpg');
}

.ladies-card:hover .product-3 {
  background-image: url('../img/product-3b.jpg');
}

.product-4 {
  background-image: url('../img/product-4a.jpg');
}

.ladies-card:hover .product-4 {
  background-image: url('../img/product-4b.jpg');
}

.product-5 {
  background-image: url('../img/product-5a.jpg');
}

.ladies-card:hover .product-5 {
  background-image: url('../img/product-5b.jpg');
}

.product-6 {
  background-image: url('../img/product-6a.jpg');
}

.ladies-card:hover .product-6 {
  background-image: url('../img/product-6b.jpg');
}

/* Shop-Icons */
ion-icon[name="heart-empty"] {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #292b2c;
  font-size: 1.3rem;
}

ion-icon[name="heart-empty"]:hover {
  color: red;
}

.shop-icon-wrapper {
  position: absolute;
  bottom: -40px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.shop-icons {
  font-size: 1.3rem;
  padding: 7px;
  color: #fff;
  background-color: #292b2c;
  border-radius: 50%;
  transform: translateY(10px);
  transition: transform ease-in .4s;
  margin: 0 10px;
  opacity: 0.8;
}

.shop-icons:hover {
  opacity: 1;
}

.card-img:hover .shop-icons:first-child {
  transform: translateY(-50px);
}

.card-img:hover .shop-icons:nth-child(2) {
  transition-delay: 0.2s;
  transform: translateY(-50px);
}

.card-img:hover .shop-icons:nth-child(3) {
  transition-delay: 0.4s;
  transform: translateY(-50px);
}

/* New Article Promo */
.new-arrival-promo {
  margin: 0 auto;
  width: 85%;
  height: 400px;
  background: url('../img/background-02.jpg') center/cover no-repeat;
}

.new-arrival-left {
  width: 400px;
  text-align: center;
  line-height: 4rem;
  position: relative;
  top: 120px;
  left: 30px;
}

.new-arrival-title {
  background-color: #292b2c;
  color: #fff;
  display: inline-block;
  padding: 2px 1rem;
  box-sizing: content-box;
}

.new-arrival-promo p {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 0.7rem;
  font-weight: bolder;
}

.new-arrival-promo a {
  color: #292b2c;
  font-weight: bold;
}

/* CARD MEN */
.product-7 {
  background-image: url('../img/product-7a.jpg');
}

.product-8 {
  background-image: url('../img/product-8a.jpg');
}

.product-9 {
  background-image: url('../img/product-9a.jpg');
}

.product-10 {
  background-image: url('../img/product-10a.jpg');
}

.product-11 {
  background-image: url('../img/product-11a.jpg');
}

.product-12 {
  background-image: url('../img/product-12a.jpg');
}

.ladies-card:hover .product-7 {
  background-image: url('../img/product-7b.jpg');
}

.ladies-card:hover .product-8 {
  background-image: url('../img/product-8b.jpg');
}

.ladies-card:hover .product-9 {
  background-image: url('../img/product-9b.jpg');
}

.ladies-card:hover .product-10 {
  background-image: url('../img/product-10b.jpg');
}

.ladies-card:hover .product-11 {
  background-image: url('../img/product-11b.jpg');
}

.ladies-card:hover .product-12 {
  background-image: url('../img/product-12b.jpg');
}

/* SALE */
.sale-wrapper {
  width: 85%;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.sale-wrapper>div:nth-child(odd) {
  float: left;
  width: 50%;
  height: 100%;
  transition: 0.4s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.woman-panel {
  background: url('../img/man-shoes-show.png') center/100% 100% no-repeat;
}

.woman-panel:hover {
  filter: hue-rotate(45deg);
  background-size: 110% 110%
}

.woman-text, .man-text {
  display: block;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.woman-text::before {
  content: '';
  position: absolute;
  top: 13px;
  left: -70px;
  width: 50px;
  height: 1px;
  background: #292b2c;
}

.woman-text {
  position: absolute;
  top: 9rem;
  left: -3.5rem;
  transform: rotate(90deg);
}

.mid-panel {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
  padding: 2rem 1rem;
  background-color: #eee;
  text-align: center;
  letter-spacing: 1rem;
  /* text-transform: uppercase; */
  font-weight: bolder;
  line-height: 3rem;
  z-index: 2;
  cursor: default;
}

.mid-panel::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border: 1px solid #eee;
  animation: border-fade 1.5s ease-in-out infinite alternate;
}

@keyframes border-fade {
  0% {
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
    opacity: 0;
  }

  100% {
    width: 110%;
    height: 120%;
    border: 3px solid #eee;
    opacity: 1;
  }
}

.mid-panel span {
  font-size: 0.8rem;
}

.man-panel {
  background: url('../img/retro-look-man.png') top/cover no-repeat;
}

.man-panel:hover {
  filter: hue-rotate(45deg);
}

.man-text {
  position: absolute;
  bottom: 4.5rem;
  right: -1.65rem;
  transform: rotate(90deg);
}

/* Partner */
.partner-container {
  margin: 50px auto;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.partner-container>img {
  opacity: 0.5;
  cursor: pointer;
  transition: .6s;
}

.partner-container>img:hover {
  opacity: 1;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: content-box;
  background-color: rgba(0, 0, 0, 0.03);
}

.footer-brand {
  font-size: 4rem;
  margin: 0 0 30px -5px;
}

footer .copyright {
  cursor: default;
  font-weight: bolder;
  color: #aaa;
}

footer h2 {
  margin-bottom: 30px;
}

footer h5 {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin: 15px auto;
  font-size: 0.9rem;
  font-weight: bolder;
  color: #bbb;
  cursor: pointer;
  transition: .4s;
}

footer ul li:hover {
  color: #000;
  text-decoration: underline;
}

.social-icons {
  position: relative;
  top: 40px;
  cursor: default;
}

.social-icons>ion-icon {
  margin-left: 20px;
  opacity: 0.7;
  transition: .4s;
  cursor: pointer;
}

.social-icons>ion-icon:hover {
  opacity: 1;
}

/* BUTTONS */
button {
  cursor: pointer;
  font-size: 0.8rem;
  outline: none;
  border: none;
  box-sizing: content-box;
  padding: 0.8rem 2rem;
  background-color: #292b2c;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid #292b2c;
  transition: .4s;
}

button:hover {
  border: 1px solid #292b2c;
  background-color: transparent;
  color: #292b2c;
}

input[type='email'] {
  outline: none;
  border: none;
  padding: 0.8rem 1.5rem;
  width: 300px;
  border: 1px solid #fff;
  transition: .4s;
}

input[type='email']::placeholder {
  color: #aaa;
  letter-spacing: 1px;
  font-style: italic;
}

input[type='email']:focus {
  border: 1px solid #000;
}

/* Media queries */
/* FHD screen */
@media (max-width: 600px) {
  footer {
    flex-direction: column;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  #wowslider-container1 .ws-title {
    bottom: 28vh !important;
  }

  .ladies-container {
    width: 100%;
  }
}

@media (min-width: 1900px) {
  #wowslider-container1 .ws-title {
    font-size: 4rem !important;
    left: 2.5em !important;
  }

  .section-brief {
    top: 250px;
  }

  .section-brief p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    margin-bottom: 1rem;
  }

  .section-brief button {
    margin-top: 20vh;
  }

  .fashion-shop-card {
    height: 450px;
    width: 320px;
  }

  .ladies-other-grid {
    width: 750px;
  }

  .for-her-margin {
    margin-right: 120px;
  }

  .for-him-margin {
    margin-left: 120px;
  }

  /* .ladies-other-grid > div{
    width: 260px;
    height: 350px;
  } */
}